xgboost
scikit-learn
opencv-python
numpy
git+git://github.com/whitews/cv-color-features.git
git+git://github.com/whitews/cv2-extras.git
Pillow
pandas
tensorflow-gpu
keras
matplotlib
scikit-image
paramiko
scipy
joblib